<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Vampire_Idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1,1},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vampire_Idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1,35},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vampire_Idle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1,67},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Vampire.png</string>
            <key>size</key>
            <string>{28,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a52e50e938873b7d5f60ab44e1b326c7:a7b7f172e491a627e7d30970aa9692ac:1027bbd4b26ed85feade36376f8c1aef$</string>
            <key>textureFileName</key>
            <string>Vampire.png</string>
        </dict>
    </dict>
</plist>
